.header_image {
  float: left;
}

.header_info {
  text-align: right;
}

@media(max-width: 767px) {
  .header_info {
    text-align: center;
  }
}

@media(max-width: 767px) {
  .button_contact {
    padding: 10px 160px;
    margin-bottom: 5px;
  }
}

.responsive_image {
  width: inherit;
  max-width: 100%;
  height: auto;
}

.nav_text {
  text-align: center;
}
