.background_style {
}

.header_image {
  float: left;
}

.header_info {
  text-align: right;
}

@media(max-width: 767px) {
  .header_info {
    text-align: center;
  }
}

@media(max-width: 767px) {
  .button_contact {
    padding: 10px 160px;
    margin-bottom: 5px;
  }
}

.responsive_image {
  width: initial;
  max-width: 100%;
  height: auto;
}

.nav_text {
  text-align: center;
  color: white;
}

.navbar-custom {
  background-color: #2C3E50;
  -webkit-box-shadow: none;
/*  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#3e5771), to(#2c3e50));
  background-image: -webkit-linear-gradient(top, #3e5771, 0%, #2c3e50, 100%);
  background-image: -moz-linear-gradient(top, #3e5771 0%, #2c3e50 100%);
  background-image: linear-gradient(to bottom, #3e5771 0%, #2c3e50 100%);
  background-repeat: repeat-x;*/
}

.nav_text>li:hover {
  background-color: #bdc3c7;
}

.navbar-header:hover {
  background-color: #bdc3c7;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.slogan_text {
  text-align: center;
}

.button_jumbotron {
  text-align: -webkit-center;
}

.header_style {
  background: url(assets/mountain.jpeg);
}

.background_image {
  background: url(assets/mountain.jpeg);
  background-repeat: no-repeat;
}

.jumbotron_style {
  text-align: center;
  /*opacity: 0.5;*/
  /*background-color: #e74c3c;*/
}

